server:
  port: 8080
  tomcat:
    uri-encoding: UTF-8
    max-threads: 30
    accesslog:
      enabled: false
    protocol-header: x-forwarded-proto

debug: true
spring:
  thymeleaf:
    mode: HTML5
    encoding: UTF-8
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  datasource:
    url: mysql://l3fyul31x6p8cu8e:hczqbtxdkjlcxs2c@ilzyz0heng1bygi8.chr7pe7iynqr.eu-west-1.rds.amazonaws.com:3306/u3tzursgcazc5ak0
    username: l3fyul31x6p8cu8e
    password: hczqbtxdkjlcxs2c
    port: 3306

api:
  name: https://rawg.io/api/
  key: ?key=1a3d6ff0c7c14bfaa121817b5a8476ca
