server:
  port: 8080
  tomcat:
    uri-encoding: UTF-8
    max-threads: 30
    accesslog:
      enabled: false
    protocol-header: x-forwarded-proto

debug: true
#To heroku DB - to execute LOCAL you need go main run configurations and add in Environment variables  spring.profiles.active=local
spring:
  thymeleaf:
    mode: HTML5
    encoding: UTF-8
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  datasource:
    url: ${URL}
    username: ${USER}
    password: ${PASSWORD}


api:
  name: https://rawg.io/api/
  key: ?key=1a3d6ff0c7c14bfaa121817b5a8476ca

flyway:
  baseline-on-migrate: true
