server:
  port: 8080
  tomcat:
    uri-encoding: UTF-8
    max-threads: 30
    accesslog:
      enabled: false
    protocol-header: x-forwarded-proto

debug: true
spring:
  thymeleaf:
    mode: HTML5
    encoding: UTF-8
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  datasource:
    url: mysql://ayzjgb3p5t7gw6eh:rwy993agkkgo9dvk@ilzyz0heng1bygi8.chr7pe7iynqr.eu-west-1.rds.amazonaws.com:3306/n34lcenpm8uavs0y
    username: ayzjgb3p5t7gw6eh
    password: pm1e7yjv1hbyr3ea

api:
  name: https://rawg.io/api/
  key: ?key=1a3d6ff0c7c14bfaa121817b5a8476ca

flyway:
  baseline-on-migrate: true
