<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <title>Games</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background-color:#efefef !important;">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/users}">List of users</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{games?page=1}">List of games</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" th:href="@{developers?page=1}">List of developers</a>
            </li>

        </ul>
    </div>
    <div class="float-right">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
    </div>
</nav>

<div th:if="${not #lists.isEmpty(listOfDevelopers)}"  class="cards">
    <div style="cursor:pointer;"   class="card"  th:each="developer : ${listOfDevelopers.content}">

        <img class="card-img-top" th:src="@{${developer.backGroundImage}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" th:text="${'Name - ' + developer.name}">Id</h5>
            <p class="card-text" th:text="${'Id - ' + developer.id}">Id</p>
            <p class="card-text" th:text="${'Number of games - ' + developer.gamesCount}">Games count</p>
        </div>
    </div>
</div>
<div th:if="${#lists.isEmpty(listOfDevelopers)}">
    <p style="color:white;">Empty list</p>
</div>

<div class="text-xs-center">
    <ul class="pagination  justify-content-center">
        <li th:each="pageNumber : ${pageNumbers}" class="page-item">
            <a th:href="@{'games?page=' + ${pageNumber}}" th:text=${pageNumber} class="page-link" >Previous</a>
        </li>
    </ul>
</div>

</body>
</html>