<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
  <head>
  	<link rel="stylesheet" th:href="@{/css/style.css}">
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
	<title>Games</title>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <a class="navbar-brand"  href="index">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				  <a class="nav-link" href="games?page=1">Games <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				  <select style="margin-top: 7px;height: 25px;" onChange="showInput()" id="select_filter" class="form-select" aria-label="Default select example">
					  <option selected disabled>Selecciona un filtro</option>
					  <option value="name">Name</option>
					  <option value="rating">Rating</option>
				  </select>
			  </li>
		  </ul>
	  </div>
  </nav>

  <div style="margin: 15px; width: 15%;" class="input-group pull-right">
	  <input type="text" id="input_filter" class="form-control" placeholder="Filter value">
	  <button id="btnfilter" disabled style="margin-left: 5px;"  onclick="filterGames()" class="btn btn-success">Go filter</button>
  </div>

	<div th:if="${not #lists.isEmpty(listOfGames)}"  class="cards">
	  <div class="card"  th:each="game : ${listOfGames.content}">
		  <div class="card-body">
			  <img class="card-img-top" th:src="@{${game.backGroundImage}}" alt="Card image cap">
			  <h5 class="card-title" th:text="${game.name}">Id</h5>
			  <p class="card-text" th:text="${'Rating - ' + game.rating}">Rating</p>
			  <p class="card-text" th:text="${'Released - ' + game.released}">Rating</p>
<!--					  <a th:href="@{'/createforItemId/' + ${item.id}}" TODO:GO TO GAME FOR ID FUNCTION.
				 class="stretched-link btn btn-sm btn-primary mr-2"><i
					  class="fas fa-rocket mr-2"></i> Start New Discussion</a>-->
		  </div>
	  </div>
	</div>
	<div th:if="${#lists.isEmpty(listOfGames)}">
	  	<p style="color:white;">Empty list with this filter, return Games</p>
	</div>

	  <div class="text-xs-center">
		  <ul class="pagination  justify-content-center">
			  <li th:each="pageNumber : ${pageNumbers}" class="page-item">
				  <a th:href="@{'games?page=' + ${pageNumber}}" th:text=${pageNumber} class="page-link" >Previous</a>
			  </li>
		  </ul>
	  </div>

  </body>
  <script type="text/javascript" src="static/js/games.js" th:src="@{/js/games.js}" th:attr="page=${page}"></script>
</html>