<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
  <head>
  	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>Games</title>
<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	  -->
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <a class="navbar-brand"  href="index">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				  <a class="nav-link" href="games?page=1">Games <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
<!--				  <select style="margin-top: 7px;height: 25px;" onChange="showInput()" id="select_filter" class="form-select" aria-label="Default select example">
					  <option selected disabled>Select a filter</option>
					  <option value="name">Name</option>
					  <option value="rating">Rating</option>
					  <option value="year">Year</option>
				  </select>-->
<!--				  <select style="margin-top: 7px;height: 25px;" onChange="showInput()" id="operator_filter" class="form-select" aria-label="Default select example">
					  <option selected disabled>Select a operator query</option>
					  <option value="name">GREATHER_THAN </option>
					  <option value="name">LESS_THAN </option>
					  <option value="name">LIKE</option>
					  <option value="name">EQUALS </option>
					  <option value="name">DIFFERENT </option>
				  </select>-->
			  </li>
		  </ul>
	  </div>
  </nav>

  <div class="checklist_grid">

	  <div class="form-check" style="margin:5px; font-weight: bold;">
		  Select a filters:
	  </div>
	  <div class="form-check" style="margin: 5px; font-weight: bold;">
		  Select a values
	  </div>

	  <div class="form-check">
		  <input onchange="isCheckedName()" class="form-check-input" type="checkbox" value="name" id="check_name">
		  <label class="form-check-label" for="check_name">
			  Name
		  </label>
	  </div>
	  <div>
		  <input disabled type="text" id="input_name" class="form-control" placeholder="Names value">
	  </div>

	  <div class="form-check">
		  <input onchange="isCheckedRating()" class="form-check-input" type="checkbox" value="rating" id="check_rating">
		  <label class="form-check-label" for="check_rating">
			  Rating
		  </label>
	  </div>
	  <div>
		  <input disabled type="text" id="input_rating" class="form-control" placeholder="Rating value">
	  </div>

	  <div class="form-check">
		  <input onchange="isCheckedYear()" class="form-check-input" type="checkbox" value="year" id="check_year">
		  <label class="form-check-label" for="check_year">
			  Year
		  </label>
	  </div>
	  <div>
		  <input disabled type="text" id="input_year" class="form-control" placeholder="Year value">
	  </div>
  </div>
  <button style="width: 341px; margin: 14px;" id="btnfilter" disabled style="margin-left: 5px;"  onclick="filterGames()" class="btn btn-success">Go filter</button>

	<div th:if="${not #lists.isEmpty(listOfGames)}"  class="cards">
	  <div class="card"  th:each="game : ${listOfGames.content}">
		  <div class="card-body">
			  <img class="card-img-top" th:src="@{${game.backGroundImage}}" alt="Card image cap">
			  <h5 class="card-title" th:text="${game.name}">Id</h5>
			  <p class="card-text" th:text="${'Rating - ' + game.rating}">Rating</p>
			  <p class="card-text" th:text="${'Released - ' + game.released}">Rating</p>
<!--					  <a th:href="@{'/createforItemId/' + ${item.id}}" TODO:GO TO GAME FOR ID FUNCTION.
				 class="stretched-link btn btn-sm btn-primary mr-2"><i
					  class="fas fa-rocket mr-2"></i> Start New Discussion</a>-->
		  </div>
	  </div>
	</div>
	<div th:if="${#lists.isEmpty(listOfGames)}">
	  	<p style="color:white;">Empty list with this filter, return Games</p>
	</div>

	  <div class="text-xs-center">
		  <ul class="pagination  justify-content-center">
			  <li th:each="pageNumber : ${pageNumbers}" class="page-item">
				  <a th:href="@{'games?page=' + ${pageNumber}}" th:text=${pageNumber} class="page-link" >Previous</a>
			  </li>
		  </ul>
	  </div>

  </body>
  <script type="text/javascript" src="static/js/games.js" th:src="@{/js/games.js}" th:attr="page=${page}"></script>
</html>