<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
  <head>
  	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>Games</title>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <a class="navbar-brand" href="index">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				  <a class="nav-link" th:href="@{/public/games}">Games <span class="sr-only">(current)</span></a>
			  </li>

			 <!-- <li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Dropdown
				  </a>
				  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item" href="#">Action</a>
					  <a class="dropdown-item" href="#">Another action</a>
					  <div class="dropdown-divider"></div>
					  <a class="dropdown-item" href="#">Something else here</a>
				  </div>
			  </li>-->
		  </ul>
	  </div>
  </nav>
	<div class="cards">
	  <div class="card"  th:each="game : ${games}">
		  <div class="card-body">
			  <img class="card-img-top" th:src="@{${game.backGroundImage}}" alt="Card image cap">
			  <h5 class="card-title" th:text="${game.name}">Id</h5>
			  <p class="card-text" th:text="${'Rating - ' + game.rating}">Rating</p>
			  <p class="card-text" th:text="${'Released - ' + game.released}">Rating</p>
<!--					  <a th:href="@{'/createforItemId/' + ${item.id}}" TODO:GO TO GAME FOR ID FUNCTION.
				 class="stretched-link btn btn-sm btn-primary mr-2"><i
					  class="fas fa-rocket mr-2"></i> Start New Discussion</a>-->
		  </div>
	  </div>
	</div>
  </body>
</html>